<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>Phase2_Assisted_Practice_Assignments</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>PostHandler</servlet-name>
    <servlet-class>advanced.java.program.PostHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostHandler</servlet-name>
    <url-pattern>/posthandler</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetHandler</servlet-name>
    <servlet-class>advanced.java.program.GetHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetHandler</servlet-name>
    <url-pattern>/gethandler</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NameServlet</servlet-name>
    <servlet-class>advanced.java.program.NameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NameServlet</servlet-name>
    <url-pattern>/name</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Interface</servlet-name>
    <servlet-class>advanced.java.program.Interface</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Interface</servlet-name>
    <url-pattern>/interface</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>loginFilter</filter-name>
    <filter-class>advanced.java.program.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>loginFilter</filter-name>
    <url-pattern>/dashboard</url-pattern>
    <url-pattern>/profile</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>AccountDashboard</servlet-name>
    <servlet-class>advanced.java.program.AccountDashboard</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AccountProfile</servlet-name>
    <servlet-class>advanced.java.program.AccountProfile</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>InfoPage</servlet-name>
    <servlet-class>advanced.java.program.InfoPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountDashboard</servlet-name>
    <url-pattern>/dashboard</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AccountProfile</servlet-name>
    <url-pattern>/profile</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InfoPage</servlet-name>
    <url-pattern>/info</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>advanced.java.program.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CookieDashboard</servlet-name>
    <servlet-class>advanced.java.program.CookieDashboard</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CookieDashboard</servlet-name>
    <url-pattern>/dashboard1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginServlet1</servlet-name>
    <servlet-class>advanced.java.program.LoginServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet1</servlet-name>
    <url-pattern>/login1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Dashboard1</servlet-name>
    <servlet-class>advanced.java.program.Dashboard1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Dashboard1</servlet-name>
    <url-pattern>/dashboard2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginHiddenForm</servlet-name>
    <servlet-class>advanced.java.program.LoginHiddenForm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginHiddenForm</servlet-name>
    <url-pattern>/login2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HiddenDashboard1</servlet-name>
    <servlet-class>advanced.java.program.HiddenDashboard1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HiddenDashboard1</servlet-name>
    <url-pattern>/dashboard3</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HttpSessionLogin</servlet-name>
    <servlet-class>advanced.java.program.HttpSessionLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HttpSessionLogin</servlet-name>
    <url-pattern>/login3</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HttpSessionDashboard</servlet-name>
    <servlet-class>advanced.java.program.HttpSessionDashboard</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HttpSessionDashboard</servlet-name>
    <url-pattern>/dashboard4</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginLogoutLoginPage</servlet-name>
    <servlet-class>advanced.java.program.LoginLogoutLoginPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginLogoutLoginPage</servlet-name>
    <url-pattern>/LoginPage4</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginLogoutDashboard</servlet-name>
    <servlet-class>advanced.java.program.LoginLogoutDashboard</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginLogoutDashboard</servlet-name>
    <url-pattern>/dashboard5</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InitHibernate</servlet-name>
    <servlet-class>com.ecommerce.InitHibernate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InitHibernate</servlet-name>
    <url-pattern>/init</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ListProducts</servlet-name>
    <servlet-class>com.ecommerce.ListProducts</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListProducts</servlet-name>
    <url-pattern>/list</url-pattern>
  </servlet-mapping>
</web-app>